<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--  配置组件扫描器-->
    <context:component-scan base-package="airline.controller"/>
    <!--注册注解驱动-->
    <mvc:annotation-driven/>
    <!--注册异常处理器-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="/Exception/errors.jsp"/>
    </bean>
    <!--注册验证-->
    <bean id="myValidator"
    class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
    <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
    </bean>
    <!--注册验证驱动-->
    <mvc:annotation-driven validator="myValidator"/>
    <!--注册文件驱动-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="1048576"/>
    </bean>
    <!--配置拦截器-->
    <mvc:interceptors>
        <!--  管理员拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="airline.interceptor.AdminInterceptor"/>
        </mvc:interceptor>
        <!--  用户拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="airline.interceptor.UserInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

        </beans>